/* Chat page */

.massage-area,
.chat-left-sidebar {
  height: 90vh;
  box-sizing: border-box;
  border: 1px solid #d8e2e8;
  border-left: none;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
  position: relative;
}

.message-area-header,
.message-area-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  background-color: $main-darkred;
}

.message-area-footer {
  padding: 0 1rem;
  min-height: 40px;
}

.message-area-header-user-status {
  display: flex;
  flex-direction: row;
}

.chat-left-sidebar {
  border: 1px solid #d8e2e8;
  border-right-color: $main-darkred;
  border-top-right-radius: 0;
}

.chat-user-card {
  border: none;
}

.search__form {
  position: relative;
  margin-left: 0!important;
}

.chat__search {
  border-radius: 20px;
  background-color: #ffffff;
  width: 100% !important;

}

.chat__search:focus {
  border-color: $main-darkred;
  box-shadow: none;
}

.chat-left-sidebar-users {
  border: none;
}

.chat-user-card__name:hover,
.chat-user-card__nickname:hover,
.message-area-header-username:hover {
  color: $alter-purple;
  text-decoration: none;
}

.chat-user-card__name {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-underline: none;
}

.chat-user-card__nickname {
  color: black;
  font-size: 1rem;
  text-decoration: none!important;
}

.chat-sidebar-user {
  padding: 5px 15px 5px;
}

.chat-sidebar-user:last-child {
  margin-bottom: 0;
}

.chat-sidebar-user:hover {
  transition-duration: .5s;
  background-color: rgba(227, 64, 95, 0.5);
  cursor: default;
}

.chat-sidebar-user-photo {
  width: 60px;
  height: 60px;
}

.chat-sidebar-user-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #292f33;
}

.chat-sidebar-user-lastmsg {
  font-size: 1.1rem;
  color: #292f33;
}

.message-area-header-username {
  font-size: 1.5rem;
  font-weight: bold;
  color: #292f33;
}

.message-area-header-username-status {
  font-size: 1.1rem;
}

.text-message {
  font-size: 1.5rem;
  font-weight: bold;
  height: 100%;
  width: 95%;
  background-color: inherit;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
}

.text-message::placeholder {
  color: #f8f9fa;
}

.chat-footer-emoji-icon {
  cursor: pointer;
}

.message-container {
  background-color: rgba(227, 64, 95, 0.5);
}

.message-area-left-field,
.message-area-right-field {
  width: 50%;
}