/*.upload-avatar_btns {
  &.label-btn {
    width: 120px;
    text-align: center;
    vertical-align: center;
  }

  &.submit-btn {
    width: 100px;
  }

  height: 30px;
  justify-self: end;
  margin-bottom: 1%;

  border: none;
  border-radius: 20px;
  background-color: $main-darkred;

  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;

  margin-left: auto;

  &:hover {
    color: $alter-purple;
    border: 2px solid $alter-purple;
    background-color: #ffffff;
  }

  &:disabled {
    color: $main-grey;
    background-color: #d3d3d3;

    &:hover {
      border: none;
    }
  }
}*/

.upload-avatar {
  width: 100%;
  min-width: 160px;
  position: relative;
  text-align: center;

  &__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    &:focus + label {
      box-sizing: border-box;
      box-shadow: inset 0 0 0 2px $alter-purple;
      outline: none !important;
    }
  }

  &__label {
    width: 100%;
    min-height: 25px;
    box-sizing: border-box;

    background: $main-darkred;
    color: #fff;
    font-size: 14px;
    font-weight: bold;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    border-radius: 3px;
    cursor: pointer;
    margin: 0;
    padding: 5px 0;

    &:hover {
      background: $alter-purple;
    }
  }

  &__label-button-text {
    width: 100%;
    line-height: 1;
    margin-top: 1px;
  }

  &__label-icon-wrapper {
    min-height: 25px;
    width: 40px;
    margin-right: 5px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    border-right: 1px solid #fff;
  }

  &__submit {
    width: 100%;
    min-height: 30px;

    background: $alter-purple;
    color: #fff;
    font-size: 14px;
    font-weight: bold;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    border: none !important;
    border-radius: 3px;
    cursor: pointer;
    margin: 0;

    &:hover {
      background: $main-darkred;
    }
  }
}

.user-form {
  padding: 0;

  @media (min-width: 767px) {
    margin-left: 10px;
  }
}

.user-form input {
  border: 0px;
  border-radius: unset;
  border-bottom: 2px solid rgb(204,204,204);
  padding-left: 0;
  margin-bottom: 20px;
}

.invalid{
  &-fname,
  &-lname,
  &-email,
  &-username,
  &-password,
  &-newpassword{
    color: $input-error-color;
  }
}

.following-btn {
  background-color: $main-darkred;
  &:hover {
    background-color: $alter-purple;
  }
  &:disabled {
    background-color: rgb(204,204,204);
  }
}