.header {
  min-height: 240px;
  background: $main-darkred;
}

.header-home{
  min-height: 50px;
  margin-bottom: 15px;
  background: none;
}

.header__nav {
  background-color: #ffffff;

  box-shadow: 0 2px 3px 0 #999999;
}

.navbar-wrapper {
  position: relative;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.nav-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__home {
  &:hover {
    color: $alter-purple !important;
  }
}

.header__logo {
  position: absolute;
  left: 45%;

  @media (max-width: 991px) {
    display: none;
  }
}

.header__form {
  position: relative;

  max-width: 212px;

  &::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;

    position: absolute;
    left: 85%;

    background-image: url("../img/icons/search-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.header__tweet-btn {
  width: 80px;
  height: 33px;

  border: none;
  border-radius: 25px;
  background-color: $main-darkred;

  color: #ffffff;
  font-weight: 500;

  &:hover {
    color: $alter-purple;
    border: 2px solid $alter-purple;
    background-color: #ffffff;
  }
}

.header__logout {
  color: $main-grey;
  font-weight: 500;

  &:hover {
    color: $main-darkred;
  }
}

.header__search {
  border-radius: 20px;
  background-color: #ffffff;
  width: 221px !important;

  &::placeholder {
    color: #a7a7a7;
  }

  &:focus {
    z-index: 10;
  }
}