.user-card-wrapper {
  display: flex;
}

.user-card {
  margin-bottom: 10px;

  &__bg {
    min-height: 70px;
    background-color: $main-darkred;
  }

  &__photo {
    display: block;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -40px;

    border-radius: 50%;
    border: 3px solid #ffffff;
    background-color: $main-grey;
    background-image: url("../img/icons/user-icon.svg");
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__info {
    display: flex;
    flex-direction: column;

    margin-top: 5px;
  }

  &__name {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none !important;

    &:hover {
      color: $alter-purple;
    }
  }

  &__nickname {
    color: $main-grey;
    font-size: 12px;
    text-decoration: none !important;

    &:hover {
      color: $alter-purple;
    }
  }

  &__your {
    margin-left: 10px;
    padding: 0 5px;
    font-size: 12px;
    background-color: #dcdcdc;
  }
}

.user-photo {
  width: 200px;
  height: 200px;

  box-sizing: border-box;
  border: 5px solid #ffffff;
  border-radius: 50%;
  background-color: $main-grey;
  background-image: url("../img/icons/user-icon.svg");
  background-size: 85% 85%;
  background-repeat: no-repeat;
  background-position: center;

  margin-top: -60%;

  @media (max-width: 991px) {
    width: 170px;
    height: 170px;

    margin-top: -20%;
  }

  @media (max-width: 767px) {
    margin-top: -25%;
  }

  @media (max-width: 575px) {
    width: 130px;
    height: 130px;

    margin-top: -210px;
  }
}

.user-info {
  background-color: transparent;
  border: none;

  @media (max-width: 575px) {
    margin-top: 60px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: #333333;
  }

  &__subtitle{
    color: #999999 !important;
  }

  &__text {
    color: #000000;
  }
}