.creat-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  min-height: 150px;

  background-color: rgba(201, 222, 219, 0.69);

  &__input {
    margin-top: 1%;
    padding-bottom: 5px;
    resize:none;
    overflow:hidden;
    max-height: 200px;

    background-color: transparent;
    border: none;
    border-bottom: 2px solid #999999;
  }

   &__btns {
      &.submit {
        width: 70px;
      }

      &.add {
        width: 100px;
      }

      height: 30px;
      justify-self: end;
      margin-bottom: 1%;

      border: none;
      border-radius: 20px;
      background-color: $main-darkred;

      text-transform: uppercase;
      color: #ffffff;
      font-weight: 500;

      margin-left: auto;

      &:hover {
        color: $alter-purple;
        border: 2px solid $alter-purple;
        background-color: #ffffff;
      }

      &:disabled {
        color: $main-grey;
        background-color: #d3d3d3;

        &:hover {
          border: none;
        }
      }
   }
}

.modal-content {
  background-color: $main-darkred;
}

.picture-dropbox {
  height: 10rem;
  margin: 0.5rem;
  border: 2px dotted $alter-purple;

  &:hover {
    background-color: $alter-purple;
  }

  .obj {
    height: 8rem;
    width: 8rem;
  }
}

.no-tweets,
.no-following,
.no-followers {
  text-align: center;
  color: #000000;
}

.tweet {
  padding-top: 15px;
  padding-right: 50px;
  background-color: #ffffff;

  &__user {
    a {
      text-decoration: none !important;

      &:hover {
        color: $alter-purple;
      }
    }
  }

  &__photo {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 8px;

    border-radius: 50%;
    background-color: $main-grey;
    background-image: url("../img/icons/user-icon.svg");
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__user-name {
    font-size: 14px;
    font-weight: bold;
    color: #292f33;
  }

  &__nickname {
    font-size: 14px;
    color: $main-grey
  }

  &__date {
    font-size: 14px;
    color: $main-grey
  }

  &__text {
    font-size: 14px !important;
  }

  &__like {
    margin: 15px 5px 15px 0;

    &:hover {
      cursor: pointer;
    }
  }

  &__likes-quantity {
    color: $main-grey;
    font-weight: 500;
  }

  .btn-opt {
    border: none;
    background-image: url("../img/multimedia-option.png");
    background-size: cover;
    height: 24px;
    width: 24px;

    &:hover,
    &:active,
    &:focus {
      background-color: #fff;
      outline: none;
      box-shadow: none!important;
    }
  }
}

.likes-wrapper {
  display: flex;
  align-items: center;
}

.tweets-tab {
  display: none;
}

.following-tab {
  display: none;
}

.followers-tab {
  display: none;
}

.active-tab {
  display: block;
}

.following-tab-wrapper {
  @media (max-width: 580px) {
    justify-content: center !important;
  }
}

.following-card-wrapper {
  display: flex;
}

.following-card {
  width: 49%;
  margin-bottom: 10px;

  @media (max-width: 580px) {
    width: 80%;
  }

  &__bg {
    min-height: 70px;
    background-color: $main-darkred;
  }

  &__photo {
    display: block;
    width: 65px;
    height: 65px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -30px;

    border-radius: 50%;
    border: 3px solid #ffffff;
    background-color: $main-grey;
    background-image: url("../img/icons/user-icon.svg");
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    min-height: 90px;
  }

  &__name {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none !important;

    &:hover {
      color: $main-darkred;
    }
  }

  &__nickname {
    color: $main-grey;
    font-size: 12px;
    text-decoration: none !important;

    &:hover {
      color: $main-darkred;
    }
  }

  &__your {
    margin-left: 10px;
    padding: 0 5px;
    font-size: 12px;
    background-color: #dcdcdc;
  }

  &__btn {
    width: 90px;
    height: 25px;
    margin-top: 10px;

    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;

    background-color: $main-darkred;
    border: 1px solid #e3e9ee;
    border-radius: 15px;

    &:hover {
      border: 2px solid $main-darkred;
      background-color: #ffffff;

      color: $main-darkred;
    }
  }
}