.right-sidebar {
  &__follow {
    box-sizing: border-box;
    border: 1px solid #d8e2e8;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #ffffff;
  }

  &__user {
    align-items: center;

    &:not(:last-child) {
      padding-bottom: 15px;
      border-bottom: 1px solid $main-grey;
    }

    a {
      text-decoration: none !important;

      &:hover {
        color: $alter-purple;
      }
    }
  }

  &__photo {
    display: block;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: $main-grey;
    background-image: url("../img/icons/user-icon.svg");
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    font-size: 16px;
    color: #292f33;
    font-weight: bold;
  }

  &__link {
    font-size: 12px;
    color: $main-darkred;
    text-decoration: none !important;
  }

  &__info {
    display: flex;
    flex-direction: column;
    max-width: 160px;
  }

  &__user-name {
    font-size: 12px;
    font-weight: bold;
    color: #292f33;
  }

  &__nickname {
    font-size: 12px;
    color: $main-grey
  }

  &__btn {
    width: 80px;
    height: 21px;

    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;

    background-color: $main-darkred;

    border: 1px solid #e3e9ee;
    border-radius: 15px;

    &:hover {
      border: 2px solid $alter-purple;
      background-color: #ffffff;

      color: $alter-purple;
    }
  }

  &__close-btn {
    &:hover {
      cursor: pointer;

      path {
        fill: #e64f3a;
      }
    }
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

.copyright {
  &__year {
    color: $main-grey;
    font-size: 12px;
    font-weight: 500;
  }

  &__link {
    a {
      color: $main-darkred;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: $alter-purple;
      }
    }
  }
}