.search-result {
  &__user {
    align-items: center;
    min-height: 100px;
    padding-left: 15px;

    background-color: #ffffff;

    &:not(:last-child) {
      border-bottom: 1px solid $main-grey;
    }

    a {
      text-decoration: none !important;

      &:hover {
        color: $alter-purple;
      }
    }
  }

  &__photo {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 10px;

    border-radius: 50%;
    background-color: $main-grey;
    background-image: url("../img/icons/user-icon.svg");
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__user-name {
    font-size: 15px;
    font-weight: bold;
    color: #292f33;
  }

  &__nickname {
    font-size: 13px;
    color: $main-grey
  }

  &__btn {
    width: 90px;
    height: 30px;
    margin-top: 5px;

    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;

    background-color: $main-darkred;

    border: 1px solid #e3e9ee;
    border-radius: 15px;

    &:hover {
      border: 2px solid $alter-purple;
      background-color: #ffffff;

      color: $alter-purple;
    }
  }
}