.user-tabs {
  background-color: #ffffff;
  box-shadow: 0 0 3px 1px #999999;

  &__group {
    display: flex;
    align-items: center;
    min-height: 50px;

    margin: 10px auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-basis: 10%;
    height: 100%;

    margin-right: 10px;

    text-decoration: none !important;

    &:hover {
      cursor: pointer;
      box-shadow: inset 0 -4px 0 0 $alter-purple;
    }
  }

  &__title {
    font-size: 12px;
    font-weight: bold;
    color: $main-grey;
  }

  &__quantity {
    font-size: 18px;
    font-weight: bold;
    color: $alter-purple;
  }
}

.tabs {
  background-color: #ffffff;
  box-shadow: 0 0 3px 1px #999999;

  &__group {
    display: flex;
    align-items: center;
    min-height: 50px;

    @media (max-width: 767px) {
      margin-left: 33% !important;
    }

    @media (max-width: 575px) {
      margin-left: 0 !important;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-basis: 10%;
    height: 100%;

    margin-right: 10px;

    &:hover {
      cursor: pointer;
      box-shadow: inset 0 -4px 0 0 $alter-purple;
    }

    &--active {
      box-shadow: inset 0 -4px 0 0 $alter-purple;

      .tabs__quantity {
        color: $alter-purple;
      }
    }
  }

  &__title {
    font-size: 12px;
    font-weight: bold;
    color: $main-grey;
  }

  &__quantity {
    font-size: 18px;
    font-weight: bold;
    color: $main-grey;
  }

  &__edit {
    font-size: 14px;
    font-weight: bold;
    color: $main-grey;
    text-decoration: none !important;

    &:hover {
      color: $alter-purple;
    }
  }
}