html {
  font-size: 14px; }

body {
  background-color: #f5f8fa; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  z-index: -10;
  opacity: 0; }

.start-body {
  background-image: url("../img/index-bg.jpg");
  background-size: cover;
  background-color: #E6ECF0; }
  .start-body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1; }

.start-page {
  margin-top: 150px; }

.start-page__title {
  margin-top: 10px;
  font-size: 26px;
  font-weight: bold;
  color: #fff; }
  .start-page__title .braces-logo {
    color: #e3405f;
    font-weight: 400 !important; }
  .start-page__title .edu-logo {
    font-weight: 300 !important; }

.tw {
  margin-top: 10px;
  color: #fff; }
  .tw .braces-logo {
    color: #e3405f; }
  .tw .comm-logo {
    font-weight: 300 !important; }

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px; }

.start-page__sign {
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none !important;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.045em; }
  .start-page__sign svg {
    position: absolute;
    top: 0;
    left: 0; }
  .start-page__sign svg rect {
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease; }
  .start-page__sign span {
    background: #ff8282;
    background: -moz-linear-gradient(left, #ff8282 0%, #e178ed 100%);
    background: -webkit-linear-gradient(left, #ff8282 0%, #e178ed 100%);
    background: linear-gradient(to right, #ff8282 0%, #e178ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .start-page__sign:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437; }

.start-page__login {
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none !important;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.045em; }
  .start-page__login svg {
    position: absolute;
    top: 0;
    left: 0; }
  .start-page__login svg rect {
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease; }
  .start-page__login span {
    background: #ff8282;
    background: -moz-linear-gradient(left, #ff8282 0%, #e178ed 100%);
    background: -webkit-linear-gradient(left, #ff8282 0%, #e178ed 100%);
    background: linear-gradient(to right, #ff8282 0%, #e178ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .start-page__login:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437; }

.login-title {
  font-size: 24px;
  font-weight: 500; }

.link-about-text,
.link-home-text {
  font-size: 14px;
  font-weight: bold;
  color: #8899A6;
  text-decoration: none !important; }

.link-about-text:hover,
.link-home-text:hover {
  color: #2AA3EF; }

.login-input {
  border: none;
  border-bottom: 2px solid #d1d1d1;
  font-size: 14px;
  padding: 5px 10px;
  margin: 15px 5px 0 0; }
  .login-input:focus {
    border-bottom: 2px solid #2CA7E0;
    outline: none !important; }

.submit-login {
  width: 85px;
  height: 30px;
  margin-left: 2%;
  margin-top: 20px;
  border: none;
  border-radius: 14px;
  background-color: #007bff;
  color: white; }

.submit-login:hover {
  color: #007bff;
  border: 2px solid #007bff;
  background-color: #fff; }

@media (max-width: 574px) {
  .form-container {
    padding: 0; } }

.sign-up {
  background-color: #c9ddfc;
  height: 48px;
  font-size: 15px; }

.sign-up div {
  margin-top: 10px;
  margin-left: 2%; }

.login-form {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: white; }

.form-container {
  padding: 30px;
  padding-bottom: 5px; }

.invalid-login,
.password-helper {
  font-size: 10px;
  color: #f44336;
  margin-top: 5px; }

.heder-regist {
  background-color: white;
  box-shadow: 0 2px 3px 0 #999999; }

.signup-nav-wrapper {
  position: relative; }

.link-about-text,
.link-home-text {
  font-size: 14px;
  font-weight: bold;
  color: #8899A6;
  text-decoration: none !important; }

.link-about-text:hover,
.link-home-text:hover {
  color: #2AA3EF; }

.centr {
  position: absolute;
  left: 50%; }
  @media (max-width: 575px) {
    .centr {
      left: 80%; } }

.signup-title {
  font-size: 24px;
  font-weight: 500; }

.name-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.signup-input {
  border: none;
  border-bottom: 2px solid #d1d1d1;
  font-size: 14px;
  padding: 5px 10px;
  margin: 15px 5px 0 0; }
  .signup-input:focus {
    border-bottom: 2px solid #2CA7E0;
    outline: none !important; }
  .signup-input--invalid {
    border-bottom: 2px solid #f44336; }

.submit-signup {
  width: 90px;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  font-weight: 500; }
  .submit-signup:hover {
    color: #007bff;
    border: 2px solid #007bff;
    background-color: #fff; }

.signup-helper {
  margin-left: 10px;
  font-size: 10px; }

.valid-password,
.valid-confirm-password,
.valid-firstname,
.valid-lastname,
.valid-email,
.valid-username,
.valid-dateofbirth {
  display: none; }

.signup-error {
  display: block;
  margin-left: 10px;
  color: #f44336;
  font-size: 10px; }

.already-login {
  display: flex;
  align-items: center;
  min-height: 65px;
  background-color: #c9ddfc;
  font-size: 15px; }
  .already-login span {
    margin-left: 3% !important; }

.registration-form {
  margin-top: 40px;
  background-color: white;
  padding: 0 25px; }

.form-container {
  padding: 20px; }

.header {
  min-height: 240px;
  background: #e3405f; }

.header-home {
  min-height: 50px;
  margin-bottom: 15px;
  background: none; }

.header__nav {
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 #999999; }

.navbar-wrapper {
  position: relative; }
  @media (max-width: 767px) {
    .navbar-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.nav-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.header__home:hover {
  color: #211870 !important; }

.header__logo {
  position: absolute;
  left: 45%; }
  @media (max-width: 991px) {
    .header__logo {
      display: none; } }

.header__form {
  position: relative;
  max-width: 212px; }
  .header__form::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 85%;
    background-image: url("../img/icons/search-icon.svg");
    background-repeat: no-repeat;
    background-size: contain; }

.header__tweet-btn {
  width: 80px;
  height: 33px;
  border: none;
  border-radius: 25px;
  background-color: #e3405f;
  color: #ffffff;
  font-weight: 500; }
  .header__tweet-btn:hover {
    color: #211870;
    border: 2px solid #211870;
    background-color: #ffffff; }

.header__logout {
  color: #8899a6;
  font-weight: 500; }
  .header__logout:hover {
    color: #e3405f; }

.header__search {
  border-radius: 20px;
  background-color: #ffffff;
  width: 221px !important; }
  .header__search::placeholder {
    color: #a7a7a7; }
  .header__search:focus {
    z-index: 10; }

.user-card-wrapper {
  display: flex; }

.user-card {
  margin-bottom: 10px; }
  .user-card__bg {
    min-height: 70px;
    background-color: #e3405f; }
  .user-card__photo {
    display: block;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -40px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    background-color: #8899a6;
    background-image: url("../img/icons/user-icon.svg");
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position: center; }
  .user-card__info {
    display: flex;
    flex-direction: column;
    margin-top: 5px; }
  .user-card__name {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none !important; }
    .user-card__name:hover {
      color: #211870; }
  .user-card__nickname {
    color: #8899a6;
    font-size: 12px;
    text-decoration: none !important; }
    .user-card__nickname:hover {
      color: #211870; }
  .user-card__your {
    margin-left: 10px;
    padding: 0 5px;
    font-size: 12px;
    background-color: #dcdcdc; }

.user-photo {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 5px solid #ffffff;
  border-radius: 50%;
  background-color: #8899a6;
  background-image: url("../img/icons/user-icon.svg");
  background-size: 85% 85%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -60%; }
  @media (max-width: 991px) {
    .user-photo {
      width: 170px;
      height: 170px;
      margin-top: -20%; } }
  @media (max-width: 767px) {
    .user-photo {
      margin-top: -25%; } }
  @media (max-width: 575px) {
    .user-photo {
      width: 130px;
      height: 130px;
      margin-top: -210px; } }

.user-info {
  background-color: transparent;
  border: none; }
  @media (max-width: 575px) {
    .user-info {
      margin-top: 60px; } }
  .user-info__title {
    font-size: 20px;
    font-weight: 500;
    color: #333333; }
  .user-info__subtitle {
    color: #999999 !important; }
  .user-info__text {
    color: #000000; }

.creat-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 150px;
  background-color: rgba(201, 222, 219, 0.69); }
  .creat-tweet__input {
    margin-top: 1%;
    padding-bottom: 5px;
    resize: none;
    overflow: hidden;
    max-height: 200px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #999999; }
  .creat-tweet__btns {
    height: 30px;
    justify-self: end;
    margin-bottom: 1%;
    border: none;
    border-radius: 20px;
    background-color: #e3405f;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    margin-left: auto; }
    .creat-tweet__btns.submit {
      width: 70px; }
    .creat-tweet__btns.add {
      width: 100px; }
    .creat-tweet__btns:hover {
      color: #211870;
      border: 2px solid #211870;
      background-color: #ffffff; }
    .creat-tweet__btns:disabled {
      color: #8899a6;
      background-color: #d3d3d3; }
      .creat-tweet__btns:disabled:hover {
        border: none; }

.modal-content {
  background-color: #e3405f; }

.picture-dropbox {
  height: 10rem;
  margin: 0.5rem;
  border: 2px dotted #211870; }
  .picture-dropbox:hover {
    background-color: #211870; }
  .picture-dropbox .obj {
    height: 8rem;
    width: 8rem; }

.no-tweets,
.no-following,
.no-followers {
  text-align: center;
  color: #000000; }

.tweet {
  padding-top: 15px;
  padding-right: 50px;
  background-color: #ffffff; }
  .tweet__user a {
    text-decoration: none !important; }
    .tweet__user a:hover {
      color: #211870; }
  .tweet__photo {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #8899a6;
    background-image: url("../img/icons/user-icon.svg");
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position: center; }
  .tweet__user-name {
    font-size: 14px;
    font-weight: bold;
    color: #292f33; }
  .tweet__nickname {
    font-size: 14px;
    color: #8899a6; }
  .tweet__date {
    font-size: 14px;
    color: #8899a6; }
  .tweet__text {
    font-size: 14px !important; }
  .tweet__like {
    margin: 15px 5px 15px 0; }
    .tweet__like:hover {
      cursor: pointer; }
  .tweet__likes-quantity {
    color: #8899a6;
    font-weight: 500; }
  .tweet .btn-opt {
    border: none;
    background-image: url("../img/multimedia-option.png");
    background-size: cover;
    height: 24px;
    width: 24px; }
    .tweet .btn-opt:hover, .tweet .btn-opt:active, .tweet .btn-opt:focus {
      background-color: #fff;
      outline: none;
      box-shadow: none !important; }

.likes-wrapper {
  display: flex;
  align-items: center; }

.tweets-tab {
  display: none; }

.following-tab {
  display: none; }

.followers-tab {
  display: none; }

.active-tab {
  display: block; }

@media (max-width: 580px) {
  .following-tab-wrapper {
    justify-content: center !important; } }

.following-card-wrapper {
  display: flex; }

.following-card {
  width: 49%;
  margin-bottom: 10px; }
  @media (max-width: 580px) {
    .following-card {
      width: 80%; } }
  .following-card__bg {
    min-height: 70px;
    background-color: #e3405f; }
  .following-card__photo {
    display: block;
    width: 65px;
    height: 65px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -30px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    background-color: #8899a6;
    background-image: url("../img/icons/user-icon.svg");
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position: center; }
  .following-card__info {
    display: flex;
    flex-direction: column;
    min-height: 90px; }
  .following-card__name {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none !important; }
    .following-card__name:hover {
      color: #e3405f; }
  .following-card__nickname {
    color: #8899a6;
    font-size: 12px;
    text-decoration: none !important; }
    .following-card__nickname:hover {
      color: #e3405f; }
  .following-card__your {
    margin-left: 10px;
    padding: 0 5px;
    font-size: 12px;
    background-color: #dcdcdc; }
  .following-card__btn {
    width: 90px;
    height: 25px;
    margin-top: 10px;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #e3405f;
    border: 1px solid #e3e9ee;
    border-radius: 15px; }
    .following-card__btn:hover {
      border: 2px solid #e3405f;
      background-color: #ffffff;
      color: #e3405f; }

.user-tabs {
  background-color: #ffffff;
  box-shadow: 0 0 3px 1px #999999; }
  .user-tabs__group {
    display: flex;
    align-items: center;
    min-height: 50px;
    margin: 10px auto; }
  .user-tabs__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 10%;
    height: 100%;
    margin-right: 10px;
    text-decoration: none !important; }
    .user-tabs__info:hover {
      cursor: pointer;
      box-shadow: inset 0 -4px 0 0 #211870; }
  .user-tabs__title {
    font-size: 12px;
    font-weight: bold;
    color: #8899a6; }
  .user-tabs__quantity {
    font-size: 18px;
    font-weight: bold;
    color: #211870; }

.tabs {
  background-color: #ffffff;
  box-shadow: 0 0 3px 1px #999999; }
  .tabs__group {
    display: flex;
    align-items: center;
    min-height: 50px; }
    @media (max-width: 767px) {
      .tabs__group {
        margin-left: 33% !important; } }
    @media (max-width: 575px) {
      .tabs__group {
        margin-left: 0 !important; } }
  .tabs__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 10%;
    height: 100%;
    margin-right: 10px; }
    .tabs__info:hover {
      cursor: pointer;
      box-shadow: inset 0 -4px 0 0 #211870; }
    .tabs__info--active {
      box-shadow: inset 0 -4px 0 0 #211870; }
      .tabs__info--active .tabs__quantity {
        color: #211870; }
  .tabs__title {
    font-size: 12px;
    font-weight: bold;
    color: #8899a6; }
  .tabs__quantity {
    font-size: 18px;
    font-weight: bold;
    color: #8899a6; }
  .tabs__edit {
    font-size: 14px;
    font-weight: bold;
    color: #8899a6;
    text-decoration: none !important; }
    .tabs__edit:hover {
      color: #211870; }

.right-sidebar__follow {
  box-sizing: border-box;
  border: 1px solid #d8e2e8;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff; }

.right-sidebar__user {
  align-items: center; }
  .right-sidebar__user:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 1px solid #8899a6; }
  .right-sidebar__user a {
    text-decoration: none !important; }
    .right-sidebar__user a:hover {
      color: #211870; }

.right-sidebar__photo {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #8899a6;
  background-image: url("../img/icons/user-icon.svg");
  background-size: 85% 85%;
  background-repeat: no-repeat;
  background-position: center; }

.right-sidebar__title {
  font-size: 16px;
  color: #292f33;
  font-weight: bold; }

.right-sidebar__link {
  font-size: 12px;
  color: #e3405f;
  text-decoration: none !important; }

.right-sidebar__info {
  display: flex;
  flex-direction: column;
  max-width: 160px; }

.right-sidebar__user-name {
  font-size: 12px;
  font-weight: bold;
  color: #292f33; }

.right-sidebar__nickname {
  font-size: 12px;
  color: #8899a6; }

.right-sidebar__btn {
  width: 80px;
  height: 21px;
  font-size: 10px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #e3405f;
  border: 1px solid #e3e9ee;
  border-radius: 15px; }
  .right-sidebar__btn:hover {
    border: 2px solid #211870;
    background-color: #ffffff;
    color: #211870; }

.right-sidebar__close-btn:hover {
  cursor: pointer; }
  .right-sidebar__close-btn:hover path {
    fill: #e64f3a; }

@media (max-width: 1023px) {
  .right-sidebar {
    display: none; } }

.copyright__year {
  color: #8899a6;
  font-size: 12px;
  font-weight: 500; }

.copyright__link a {
  color: #e3405f;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none; }
  .copyright__link a:hover {
    color: #211870; }

.search-result__user {
  align-items: center;
  min-height: 100px;
  padding-left: 15px;
  background-color: #ffffff; }
  .search-result__user:not(:last-child) {
    border-bottom: 1px solid #8899a6; }
  .search-result__user a {
    text-decoration: none !important; }
    .search-result__user a:hover {
      color: #211870; }

.search-result__photo {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #8899a6;
  background-image: url("../img/icons/user-icon.svg");
  background-size: 85% 85%;
  background-repeat: no-repeat;
  background-position: center; }

.search-result__info {
  display: flex;
  flex-direction: column; }

.search-result__user-name {
  font-size: 15px;
  font-weight: bold;
  color: #292f33; }

.search-result__nickname {
  font-size: 13px;
  color: #8899a6; }

.search-result__btn {
  width: 90px;
  height: 30px;
  margin-top: 5px;
  font-size: 10px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #e3405f;
  border: 1px solid #e3e9ee;
  border-radius: 15px; }
  .search-result__btn:hover {
    border: 2px solid #211870;
    background-color: #ffffff;
    color: #211870; }

/*.upload-avatar_btns {
  &.label-btn {
    width: 120px;
    text-align: center;
    vertical-align: center;
  }

  &.submit-btn {
    width: 100px;
  }

  height: 30px;
  justify-self: end;
  margin-bottom: 1%;

  border: none;
  border-radius: 20px;
  background-color: $main-darkred;

  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;

  margin-left: auto;

  &:hover {
    color: $alter-purple;
    border: 2px solid $alter-purple;
    background-color: #ffffff;
  }

  &:disabled {
    color: $main-grey;
    background-color: #d3d3d3;

    &:hover {
      border: none;
    }
  }
}*/
.upload-avatar {
  width: 100%;
  min-width: 160px;
  position: relative;
  text-align: center; }
  .upload-avatar__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
    .upload-avatar__input:focus + label {
      box-sizing: border-box;
      box-shadow: inset 0 0 0 2px #211870;
      outline: none !important; }
  .upload-avatar__label {
    width: 100%;
    min-height: 25px;
    box-sizing: border-box;
    background: #e3405f;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0;
    padding: 5px 0; }
    .upload-avatar__label:hover {
      background: #211870; }
  .upload-avatar__label-button-text {
    width: 100%;
    line-height: 1;
    margin-top: 1px; }
  .upload-avatar__label-icon-wrapper {
    min-height: 25px;
    width: 40px;
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff; }
  .upload-avatar__submit {
    width: 100%;
    min-height: 30px;
    background: #211870;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border: none !important;
    border-radius: 3px;
    cursor: pointer;
    margin: 0; }
    .upload-avatar__submit:hover {
      background: #e3405f; }

.user-form {
  padding: 0; }
  @media (min-width: 767px) {
    .user-form {
      margin-left: 10px; } }

.user-form input {
  border: 0px;
  border-radius: unset;
  border-bottom: 2px solid #cccccc;
  padding-left: 0;
  margin-bottom: 20px; }

.invalid-fname, .invalid-lname, .invalid-email, .invalid-username, .invalid-password, .invalid-newpassword {
  color: #f44336; }

.following-btn {
  background-color: #e3405f; }
  .following-btn:hover {
    background-color: #211870; }
  .following-btn:disabled {
    background-color: #cccccc; }

/* Chat page */
.massage-area,
.chat-left-sidebar {
  height: 90vh;
  box-sizing: border-box;
  border: 1px solid #d8e2e8;
  border-left: none;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
  position: relative; }

.message-area-header,
.message-area-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  background-color: #e3405f; }

.message-area-footer {
  padding: 0 1rem;
  min-height: 40px; }

.message-area-header-user-status {
  display: flex;
  flex-direction: row; }

.chat-left-sidebar {
  border: 1px solid #d8e2e8;
  border-right-color: #e3405f;
  border-top-right-radius: 0; }

.chat-user-card {
  border: none; }

.search__form {
  position: relative;
  margin-left: 0 !important; }

.chat__search {
  border-radius: 20px;
  background-color: #ffffff;
  width: 100% !important; }

.chat__search:focus {
  border-color: #e3405f;
  box-shadow: none; }

.chat-left-sidebar-users {
  border: none; }

.chat-user-card__name:hover,
.chat-user-card__nickname:hover,
.message-area-header-username:hover {
  color: #211870;
  text-decoration: none; }

.chat-user-card__name {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-underline: none; }

.chat-user-card__nickname {
  color: black;
  font-size: 1rem;
  text-decoration: none !important; }

.chat-sidebar-user {
  padding: 5px 15px 5px; }

.chat-sidebar-user:last-child {
  margin-bottom: 0; }

.chat-sidebar-user:hover {
  transition-duration: .5s;
  background-color: rgba(227, 64, 95, 0.5);
  cursor: default; }

.chat-sidebar-user-photo {
  width: 60px;
  height: 60px; }

.chat-sidebar-user-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #292f33; }

.chat-sidebar-user-lastmsg {
  font-size: 1.1rem;
  color: #292f33; }

.message-area-header-username {
  font-size: 1.5rem;
  font-weight: bold;
  color: #292f33; }

.message-area-header-username-status {
  font-size: 1.1rem; }

.text-message {
  font-size: 1.5rem;
  font-weight: bold;
  height: 100%;
  width: 95%;
  background-color: inherit;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden; }

.text-message::placeholder {
  color: #f8f9fa; }

.chat-footer-emoji-icon {
  cursor: pointer; }

.message-container {
  background-color: rgba(227, 64, 95, 0.5); }

.message-area-left-field,
.message-area-right-field {
  width: 50%; }


