<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" sizes="32*32" href="../../../public/img/icons/dev-comm-logo.svg">
        <link rel="stylesheet" href="../../../public/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../../public/css/styles.css">
        <title>{% block title %}{% endblock %} - My Twitter Clone</title>
    </head>
    <body class="start-body">
        {% block content %}{% endblock %}

        <!-- Scripts -->
        <script src="../../../public/js/vendors/jquery-3.4.1.slim.min.js"></script>
        <script src="../../../public/js/vendors/popper.min.js"></script>
        <script src="../../../public/js/vendors/bootstrap.min.js"></script>
    </body>
</html>