{% extends "base.twig" %}

{% block title %}Welcome Twitter{% endblock %}

{% block content %}
    <div class="container start-page">
        <div class="row d-flex flex-column align-items-center m-auto">
            <div class="home-wrapper col-lg-6 col-md-8 p-0 d-flex flex-column align-items-start">
                <img class="home-logo mr-auto" src="../../../public/img/icons/dev-comm-logo.svg" width="45" height="45"
                     alt="home">
                <h1 class="start-page__title col-11 p-0">dev<span class="braces-logo">{</span><span class="edu-logo">education</span><span
                            class="braces-logo">}</span> students online home</h1>
                <span class="tw">Join <b>dev</b><span class="braces-logo">{</span><span class="comm-logo">communication</span><span
                            class="braces-logo">}</span> today</span>

                <div class="button-wrapper">
                    <a class="start-page__sign" href="user/registration">
                        <svg width="277" height="62">
                            <defs>
                                <linearGradient id="grad1">
                                    <stop offset="0%" stop-color="#FF8282"/>
                                    <stop offset="100%" stop-color="#E178ED"/>
                                </linearGradient>
                            </defs>
                            <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
                        </svg>
                        <span>Sign Up</span>
                    </a>

                    <a class="start-page__login" href="user/login">
                        <svg width="277" height="62">
                            <defs>
                                <linearGradient id="grad2">
                                    <stop offset="0%" stop-color="#FF8282"/>
                                    <stop offset="100%" stop-color="#E178ED"/>
                                </linearGradient>
                            </defs>
                            <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad2)" width="266" height="50"></rect>
                        </svg>
                        <span>Login</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


