<div class="message-container rounded-pill d-flex flex-row align-items-center">
    <div class="right-sidebar__avatar mr-2">
        <p class="chat-sidebar-user-photo m-0">
            </a>
    </div>
    <p>Hello</p>
    <p></p>
</div>