<div class="card chat-user-card p-0">
    <div class="user-card__bg"></div>
    <div class="user-card-wrapper">
        <a href="#" class="user-card__photo"></a>

        <div class="chat-user-card__info">
            <a href="./profile" class="chat-user-card__name">{{ firstName }} {{ lastName }}</a>
            <a href="./profile" class="chat-user-card__nickname">@{{ username }}</a>
        </div>
    </div>
</div>

<form class="form-inline my-2 my-lg-0 ml-md-auto search__form col-12 p-3">
    <input class="form-control mr-sm-2 chat__search" type="search"
           placeholder="Search" aria-label="Search">
</form>

<div class="chat-left-sidebar-users col-12 p-0">

    <div class="chat-sidebar-user d-flex mb-0">
        <div class="right-sidebar__avatar mr-2">
            <p class="chat-sidebar-user-photo m-0">
            </a>
        </div>

        <div class="right-sidebar__info">
            <p class="chat-sidebar-user-name mb-0">Giulio Bordonaro</p>
            <p class="chat-sidebar-user-lastmsg mb-0">Hello, It`s me!</p>
        </div>
    </div>

    <div class="chat-sidebar-user d-flex mb-0">
        <div class="right-sidebar__avatar mr-2">
            <p class="chat-sidebar-user-photo m-0">
                </a>
        </div>

        <div class="right-sidebar__info">
            <p class="chat-sidebar-user-name mb-0">Giulio Bordonaro</p>
            <p class="chat-sidebar-user-lastmsg mb-0">Hello, It`s me!</p>
        </div>
    </div>

    <div class="chat-sidebar-user d-flex mb-0">
        <div class="right-sidebar__avatar mr-2">
            <p class="chat-sidebar-user-photo m-0">
                </a>
        </div>

        <div class="right-sidebar__info">
            <p class="chat-sidebar-user-name mb-0">Giulio Bordonaro</p>
            <p class="chat-sidebar-user-lastmsg mb-0">Hello, It`s me!</p>
        </div>
    </div>
</div>