<div class="card mt-3 copyright">
  <ul class="list-group list-group-flush">
    <li class="list-group-item copyright__year">&copy; 2020 Devcommunication</li>
    <li class="list-group-item copyright__link">
      <a href="#">Advertise with Devcommunication</a>
    </li>
  </ul>
</div>