<form class="creat-tweet col-12 mb-3">
	<textarea class="creat-tweet__input col-12" name="text" rows="2" placeholder="What's happening?"></textarea>
	<div class="text-right tweet-counter">0/200</div>
	<div class="d-flex flex-row-reverse">
		<input class="creat-tweet__btns submit post-tweet ml-1" type="button" value="post" disabled>
		<!-- Button trigger modal -->
		<input type="button" class="creat-tweet__btns add add-file-tweet ml-1"
			   data-toggle="modal" data-target="#exampleModal" value="add file" disabled>
	</div>
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-light" id="exampleModalLabel">Choose picture:</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="picture-dropbox d-flex justify-content-center"></div>
			</div>
			<div class="modal-footer">
				<input class="creat-tweet__btns ml-1 remove-file" type="button" data-dismiss="modal" value="Close">
				<input class="creat-tweet__btns ml-1 choose-file" type="button" data-dismiss="modal" value="Choose" disabled>
			</div>
		</div>
	</div>
</div>