<div class="card following-card p-0">
    <div class="following-card__bg"></div>
    <div class="following-card-wrapper">
        <a href="#" class="following-card__photo"></a>
        <div class="following-card__info">
            <a href="#" class="following-card__name">Giulio Bordonaro</a>
            <div>
                <a href="#" class="following-card__nickname">@GiulioBx</a>
                <span class="following-card__your">Follows you</span>
            </div>
            <button class="following-card__btn">Following</button>
        </div>
    </div>
</div>