
<div class="container col-lg-8 col-10">
  <div class="nav d-flex align-items-end signup-nav-wrapper">
    <a href="../../.." class="nav-link link-home-img pr-0">
      <img src="../../public/img/icons/home-icon.svg" width="26" height="26" alt="home">
    </a>
    <a href="../../.." class="nav-link link-home-text pl-2">Home</a>
    <a href="#" class="nav-link link-about-text">About</a>
    <a href="../../.." class="nav-link link-berd centr ml-auto">
      <img src="../../public/img/icons/logo-icon.svg" width="20" height="20"alt="twit">
    </a>
  </div>
</div>
