<div class="container-fluid fixed-top header__nav">
	<div class="container p-0">
		<nav class="navbar navbar-expand-md navbar-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
			        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse navbar-wrapper" id="navbarSupportedContent">
				<ul class="navbar-nav font-weight-bold d-flex align-items-center">
					<li class="nav-item mr-2">
						<a class="nav-link d-flex header__home" href="./home">
							<img src="../../public/img/icons/home-icon.svg" alt="Home" width="22" height="19">
							<span class="ml-1">Home</span>
						</a>
					</li>
				</ul>

				<a class="nav-link m-auto header__logo" href="#">
					<img src="../../public/img/icons/dev-comm-logo.svg" alt="Devcomm logo" width="20" height="20">
				</a>

				<div class="form-inline my-2 my-lg-0 mr-3 ml-md-auto header__form">
					<input class="form-control mr-sm-2 header__search" type="search"
					       placeholder="Search" aria-label="Search">
				</div>

				<div class="nav-link-wrapper">
					<input class="header__tweet-btn" type="button" value="Chat">
					<a class="nav-link m-auto header__logout" href="logout">Logout</a>
				</div>
			</div>
		</nav>
	</div>
</div>