<div class="right-sidebar__follow col-12 p-3">
  <span class="d-inline m-0 right-sidebar__title">Who to follow</span>
  &middot;
  <a href="#" class="m-0 right-sidebar__link">View all</a>

  <div class="right-sidebar__user d-flex mt-3">
    <div class="right-sidebar__avatar mr-2">
      <a href="#" class="right-sidebar__photo">
      </a>
    </div>

    <div class="right-sidebar__info">
      <a href="#" class="right-sidebar__user-name">Giulio Bordonaro</a>
      <a href="#" class="right-sidebar__nickname">@GiulioBx</a>
      <button class="right-sidebar__btn">Following</button>
    </div>

    <svg height="15px" id="Layer_1" class="right-sidebar__close-btn ml-auto"
         style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512"
         width="15px"
         xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
					<path fill="#8899a6"
                d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"/>
			</svg>
  </div>

  <div class="right-sidebar__user d-flex mt-3">
    <div class="right-sidebar__avatar mr-2">
      <a href="#" class="right-sidebar__photo">
      </a>
    </div>

    <div class="right-sidebar__info">
      <a href="#" class="right-sidebar__user-name">Interesting User</a>
      <a href="#" class="right-sidebar__nickname">@User</a>
      <button class="right-sidebar__btn">Following</button>
    </div>

    <svg height="15px" id="Layer_1" class="right-sidebar__close-btn ml-auto"
         style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512"
         width="15px"
         xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
					<path fill="#8899a6"
                d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"/>
			</svg>
  </div>

  <div class="right-sidebar__user d-flex mt-3 mb-3">
    <div class="right-sidebar__avatar mr-2">
      <a href="#" class="right-sidebar__photo">
      </a>
    </div>

    <div class="right-sidebar__info">
      <a href="#" class="right-sidebar__user-name">Other User</a>
      <a href="#" class="right-sidebar__nickname">@OtherUser</a>
      <button class="right-sidebar__btn">Following</button>
    </div>

    <svg height="15px" id="Layer_1" class="right-sidebar__close-btn ml-auto"
         style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512"
         width="15px"
         xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
					<path fill="#8899a6"
                d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"/>
			</svg>
  </div>
</div>