<div class="search-result__user d-flex">
  <div class="search-result__avatar mr-2">
    <a href="#" class="search-result__photo">
    </a>
  </div>

  <div class="search-result__info">
    <a href="#" class="search-result__user-name">Giulio Bordonaro</a>
    <a href="#" class="search-result__nickname">@GiulioBx</a>
    <button class="search-result__btn">Following</button>
  </div>
</div>