<div class="card col-md-12 mb-2 tweet flex-row pr-3">
  <div class="card-body p-0">
    <div class="tweet__user d-flex">


      <div class="tweet__info">
          <div class="tweet-wrapper d-flex flex-row mb-1">
            <a href="./profile?username={{ username }}">
              {% if profileimg and profileimg != "NULL" %}
                <img class="tweet__photo d-block mr-3" src="../../{{ profileimg }}">
              {% else %}
                <img class="tweet__photo d-block mr-3">
              {% endif %}
            </a>
            <div>
              <a href="./profile?username={{ username }}" class="tweet__user-name">{{ firstName }} {{ lastName }}</a>
              <a href="./profile?username={{ username }}" class="tweet__nickname">@{{ username }}</a>
              &middot;
              <a href="#" class="tweet__date">{{ time }}</a><br/>
              <p class="card-text tweet__text mt-2">
                    {{ text }}
              </p>
            </div>
          </div>


        {% if post_img %}
          <img src="data:image/png;base64,{{ post_img }}" class="img-fluid" alt="Card image">
        {% endif %}

        <div class="likes-wrapper">
          <svg height="18px" id="Layer_1" style="enable-background:new 0 0 512 512;"
               version="1.1"
               viewBox="0 0 512 512" width="18px" xml:space="preserve"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               class="tweet__like"
          >
            <g>
                  <path class="tweet_like_path" fill="{% if liked %} red {% else %} #8899a6 {% endif %}" data-id="{{ id }}"
                        d="M429.9,95.6c-40.4-42.1-106-42.1-146.4,0L256,124.1l-27.5-28.6c-40.5-42.1-106-42.1-146.4,0c-45.5,47.3-45.5,124.1,0,171.4 L256,448l173.9-181C475.4,219.7,475.4,142.9,429.9,95.6z"/>
            </g>
          </svg>

          <span class="tweet__likes-quantity" data-id="{{ id }}">{{ likes }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="dropdown ml-auto">
    <button type="button" class="btn btn-outline-info btn-opt" data-toggle="dropdown"></button>
    <form class="dropdown-menu dropdown-menu-right post-id">
      <input type="hidden" name="post-id" value="{{ id }}">
      <button type="button" class="dropdown-item btn btn-link upd-tweet">Edit post</button>
      <button type="button" class="dropdown-item btn btn-link del-tweet">Delete post</button>
    </form>
  </div>
</div>