<div class="card user-card p-0 mr-lg-3">
  <div class="user-card__bg"></div>
  <div class="user-card-wrapper">
    <a href="./profile?username={{ username }}">
      {% if profileimg and profileimg != "NULL" %}
        <img class="user-card__photo d-block" src="../../{{ profileimg }}">
      {% else %}
        <img class="user-card__photo d-block">
      {% endif %}
    </a>

    <div class="user-card__info">
      <a href="./profile" class="user-card__name">{{ firstName }} {{ lastName }}</a>
      <a href="./profile" class="user-card__nickname">@{{ username }}</a>
    </div>
  </div>

  <div class="user-tabs__group">
    <a class="user-tabs__info user-tabs__tweets" href="#">
      <span class="user-tabs__title">Posts</span>
      <span class="user-tabs__quantity">0</span>
    </a>

    <a class="user-tabs__info user-tabs__following" href="#">
      <span class="user-tabs__title">Following</span>
      <span class="user-tabs__quantity">0</span>
    </a>

    <a class="user-tabs__info user-tabs__followers" href="#">
      <span class="user-tabs__title">Followers</span>
      <span class="user-tabs__quantity">0</span>
    </a>
  </div>
</div>