.start-body {
  background-image: url("../img/index-bg.jpg");
  background-size: cover;
  background-color: #E6ECF0;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: -1;
  }
}

.start-page {
  margin-top: 150px;
}

.start-page__title {
  margin-top: 10px;

  font-size: 26px;
  font-weight: bold;
  color: #fff;

  .braces-logo {
    color: #e3405f;
    font-weight: 400 !important;
  }

  .edu-logo {
    font-weight: 300 !important;
  }
}

.tw {
  margin-top: 10px;
  color: #fff;

  .braces-logo {
    color: #e3405f;
  }

  .comm-logo {
    font-weight: 300 !important;
  }
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;

  margin-top: 10px;
}

.start-page__sign {
  @include btn-style;

  &:hover {
    svg rect {
      stroke-width: 4;
      stroke-dasharray: 196, 543;
      stroke-dashoffset: 437;
    }
  }
}

.start-page__login {
  @include btn-style;

  &:hover {
    svg rect {
      stroke-width: 4;
      stroke-dasharray: 196, 543;
      stroke-dashoffset: 437;
    }
  }
}