.login-title {
  font-size: 24px;
  font-weight: 500;
}

.link-about-text,
.link-home-text {
  font-size: 14px;
  font-weight: bold;
  color: #8899A6;
  text-decoration: none !important;
}

.link-about-text:hover,
.link-home-text:hover {
  color: #2AA3EF;
}

.login-input {
  border: none;
  border-bottom: 2px solid #d1d1d1;
  font-size: 14px;
  padding: 5px 10px;
  margin: 15px 5px 0 0;

  &:focus {
    border-bottom: 2px solid $main-blue;
    outline: none !important;
  }
}

.submit-login {
  width: 85px;
  height: 30px;
  margin-left: 2%;
  margin-top: 20px;

  border: none;
  border-radius: 14px;
  background-color:#007bff;
  color: white;
}

.submit-login:hover {
  color: #007bff;
  border: 2px solid #007bff;
  background-color:#fff;
}

@media (max-width: 574px) {
  .form-container{
    padding: 0;
  }
}

.sign-up {
  background-color: #c9ddfc;
  height: 48px;
  font-size: 15px;
}

.sign-up div {
  margin-top:10px;
  margin-left: 2%;

}

.login-form {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;

  background-color: white;
}

.form-container {
  padding: 30px;
  padding-bottom: 5px;
}

.invalid-login,
.password-helper {
  font-size: 10px;
  color: $input-error-color;
  margin-top: 5px;
}
