.heder-regist {
  background-color: white;
  box-shadow: 0 2px 3px 0 #999999;
}

.signup-nav-wrapper {
  position: relative;
}

.link-about-text,
.link-home-text {
  font-size: 14px;
  font-weight: bold;
  color: #8899A6;
  text-decoration: none !important;
}

.link-about-text:hover,
.link-home-text:hover {
  color: #2AA3EF;
}

.centr {
  position: absolute;
  left: 50%;

  @media (max-width: 575px) {
    left: 80%;
  }
}

.signup-title {
  font-size: 24px;
  font-weight: 500;
}

.name-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.signup-input {
  border: none;
  border-bottom: 2px solid #d1d1d1;
  font-size: 14px;
  padding: 5px 10px;
  margin: 15px 5px 0 0;

  &:focus {
    border-bottom: 2px solid $main-blue;
    outline: none !important;
  }

  &--invalid {
    border-bottom: 2px solid $input-error-color;
  }
}

.submit-signup {
  width: 90px;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 20px;

  border: none;
  border-radius: 20px;
  background-color:#007bff;
  color: white;
  font-weight: 500;

  &:hover {
    color: #007bff;
    border: 2px solid #007bff;
    background-color:#fff;
  }
}

.signup-helper {
  margin-left: 10px;
  font-size: 10px;
}

.valid-password,
.valid-confirm-password,
.valid-firstname,
.valid-lastname,
.valid-email,
.valid-username,
.valid-dateofbirth{
  display: none;
}

.signup-error {
  display: block;
  margin-left: 10px;

  color: $input-error-color;
  font-size: 10px;
}

.already-login {
  display: flex;
  align-items: center;
  min-height: 65px;
  background-color: #c9ddfc;
  font-size: 15px;

  span {
    margin-left: 3% !important;
  }
}

.registration-form {
  margin-top: 40px;
  background-color: white;
  padding: 0 25px;
}

.form-container {
  padding: 20px;
}