{% extends "base.twig" %}

{% block title %}Chat{% endblock %}

{% block content %}
    <header class="container-fluid p-0 header header-home">
        {{  include('blocks/main-nav.twig') }}
    </header>


    <main>
        <div class="container">
            <div class="row pt-lg-0 pt-md-3">
                <section class="chat-left-sidebar col-lg-3 p-md-0">
                    {{ include('blocks/chat-left-sidebar.twig', {
                        firstName: firstName,
                        lastName: lastName,
                        username: username
                    }) }}
                </section>

                <section class="main-column col-lg-9 p-md-0 massage-area d-flex flex-column justify-content-between">
                    <header class="message-area-header">
                        <div class="message-area-header-user-status">
                            <a href="#" class="message-area-header-username text-light">Giulio Bordonaro
                                <sup class="message-area-header-username-status">online</sup>
                            </a>
                        </div>


                    </header>

                    {#<div class="message-area-center d-flex flex-row ">
                        <div class="message-area-left-field d-flex flex-column">
                            {{ include('blocks/chat-message.twig') }}
                        </div>

                        <div class="message-area-right-field d-flex flex-column">
                            {{ include('blocks/chat-message.twig') }}
                        </div>
                    </div>#}


                    <footer class="message-area-footer">
                        <textarea name="text-message" rows="1" type="text" class="text-message" placeholder="Type smth to send..." aria-label="Message"></textarea>
                        <img class="chat-footer-emoji-icon" src="../../public/img/smile.png" alt="Emoji" width="24" height="24">
                    </footer>
                </section>

            </div>

    </main>

{% endblock %}

{% block scripts %}
    <script src="../../../public/js/index.js"></script>
    <script src="../../../public/js/pages/chat.js"></script>
{% endblock %}