{% extends "base.twig" %}

{% block title %}Edit{% endblock %}

{% block content %}
	<header class="container-fluid p-0 header header-home">
		{{ include('./blocks/main-nav.twig') }}
	</header>

	<main>
		<div class="container">
			<div class="row pt-lg-0 pt-md-3">
				<section class="sidebar col-xl-3 col-lg-4 col-md-5 p-md-0">
					{{ include('./blocks/user-card.twig') }}
				</section>

				<section class="main-column col-lg-6 col-md-7 p-md-0">
					<div class="d-flex flex-column col-12 user-form">
						<div class="container card">
							<form class="form card-body" name="personalInfo">
								<h3>Personal Information</h3>
								<div class="form-row">
									<fieldset class="form-group col-xs-12 col-md-6 col-xl-6">
										<input type="text" class="form-control mb-1" id="first_name" name="first_name" placeholder="First Name">
										<p class="invalid-fname d-none">This is invalid</p>
									</fieldset>
									<fieldset class="form-group col-xs-12 col-md-6 col-xl-6">
										<input type="text" class="form-control mb-1" id="last_name" name="last_name" placeholder="Last Name">
										<p class="invalid-lname d-none">This is invalid</p>
									</fieldset>
								</div>
								<fieldset class="form-group">
									<input type="email" class="form-control mb-1" id="email" name="email" placeholder="Email">
									<p class="invalid-email d-none">This is invalid</p>
								</fieldset>
								<fieldset class="form-group">
									<input type="text" class="form-control mb-1" id="username" name="username" placeholder="Username">
									<p class="invalid-username d-none mb-0">Username must be at least three(3) characters long and must can contain one underscore and number</p>
								</fieldset>
								<fieldset class="form-group">
									<input type="text" class="form-control mb-1" id="about-me" name="bio" placeholder="About me">
									<div class="text-right about-me-counter">0/1000</div>
								</fieldset>
								<fieldset class="form-group">
									<input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="Date of birth"
										   min="1941-01-01" max="2022-01-01">
								</fieldset>
								<button type="button" class="btn my-2 my-sm-0 text-uppercase following-btn upd-btn" disabled>Update</button>
							</form>
						</div>
						<br>
						<div class="container card">
							<form class="form card-body" name="changePass">
								<h3>Change password</h3>
								<fieldset class="form-group">
									<input type="password" class="form-control mb-0" id="old_password" name="old_password" placeholder="Current password">
								</fieldset>
								<fieldset class="form-group">
									<input type="password" class="form-control mb-0" id="new_password" name="new_password" placeholder="Password">
									<p class="invalid-password d-none mb-0">Password must be at least six(8) characters long and must contain one uppercase and number</p>
								</fieldset>
								<fieldset class="form-group">
									<input type="password" class="form-control" id="conf_password" name="bio" placeholder="Confirm Password">
									<p class="invalid-newpassword d-none mb-0">Password should be equal</p>
								</fieldset>
								<button type="button" class="btn my-2 my-sm-0 text-uppercase following-btn change-pass-btn" disabled>Change password</button>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>
{% endblock %}
{% block scripts %}
	<script src="../../../public/js/index.js"></script>
	<script src="../../../public/js/pages/edit-page.js"></script>
{% endblock %}

