{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
	<header class="container-fluid p-0 header header-home">
		{{  include('blocks/main-nav.twig') }}
	</header>

	<main>
		<div class="container">
			<div class="row pt-lg-0 pt-md-3">
				<section class="left-sidebar col-lg-3 p-md-0">
					{{ include('blocks/user-card.twig', {
						firstName: firstName,
						lastName: lastName,
						username: username,
						profileimg: profileimg
					}) }}
				</section>

				<section class="main-column col-lg-6 p-md-0">
					<section class="tweets-tab active-tab">
						{{ include('blocks/create-post-form.twig') }}

						{% if not posts %}
							<p class="no-tweets">No posts from you yet.</p>
						{% endif %}

						<section class="posts-container">
							{% if posts %}
								{% for post in posts %}
									{{ include('blocks/tweet.twig', {
										firstName: post.firstname,
										lastName: post.lastname,
										username: post.username,
										profileimg: post.profileimg,
										text: post.body,
										time: post.created_at,
										id: post.id,
										post_img: post.post_img,
										likes: post.likes,
										liked: post.liked
									}) }}
								{% endfor %}
							{% endif %}
						</section>

					</section>
				</section>

				<section class="col-md-3 right-sidebar">
					{{  include('blocks/right-sidebar.twig') }}

					{{ include('blocks/copyright.twig') }}
				</section>
			</div>
		</div>
	</main>
{% endblock %}
{% block scripts %}
	<script src="../../../public/js/index.js"></script>
	<script src="../../../public/js/pages/creat-post.js"></script>
	<script src="../../../public/js/pages/likes.js"></script>
{% endblock %}
