{% extends "base.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
	<header class="heder-regist">
		{{ include('./blocks/login-nav.twig') }}
	</header>

	<main class="main">
		<div class="container">
			<form class="login-form col-lg-10 col-12 mt-4" action="login" method="post">
				<div class="form-container">

					{% if warning is defined %}
						{{ include('./blocks/warning.twig') }}
					{% endif %}

					<div class="row">
						<h1 class="col-md-12 login-title">Log in to Twitter</h1>
					</div>

					<div class="row flex-column">
						<input type="text" placeholder="Email or Username"
							   name="userLogin" class="col-md-6 col-6 mr-auto ml-3 login-input">
						<span class="invalid-login ml-3 d-none">This is invalid</span>
					</div>

					<div class="row flex-column">
						<input type="password" placeholder="Password"
							   name="password" class="col-md-6 col-6 mr-auto ml-3 password login-input">
						<span class="password-helper ml-3 d-none">Password must be at least eight(8) character long and must
							contain uppercase and number</span>
					</div>

					<div class="row">
							<input class="submit-login" type="submit" value="SUBMIT">
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 col-12 sign-up">
						<div>
							Need a twitter?
							<a href="registration">SIGN UP</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</main>
{% endblock %}
{% block scripts %}
	<script src="../../../public/js/pages/login-page.js"></script>
{% endblock %}

