{% extends "base.twig" %}

{% block title %}Profile{% endblock %}

{% block content %}
	<header class="container-fluid p-0 header">
		{{ include('blocks/main-nav.twig') }}
	</header>

	<main>
		<section class="container-fluid tabs">
			<div class="container">
				<div class="row">
					<div class="col-9 ml-auto tabs__group">
						<div class="tabs__info tabs__info--active tabs__tweets">
							<span class="tabs__title">Posts</span>
							<span class="tabs__quantity">{{ postsCount }}</span>
						</div>

						<div class="tabs__info tabs__following">
							<span class="tabs__title">Following</span>
							<span class="tabs__quantity">0</span>
						</div>

						<div class="tabs__info tabs__followers">
							<span class="tabs__title">Followers</span>
							<span class="tabs__quantity">0</span>
						</div>

						<a href="edit" class="tabs__edit ml-md-auto">Edit Profile</a>
					</div>
				</div>
			</div>
		</section>
		<div class="container">
			<div class="row pt-3">
				<section class="sidebar col-lg-3 p-md-0">
					{% if profileimg and profileimg != "NULL" %}
						<img class="user-photo" src="../../{{ profileimg }}">
					{% else %}
						<img class="user-photo">
					{% endif %}

					<div class="card user-info">
						<div class="card-body d-flex flex-column">
							<form class="upload-avatar">
								<input class="upload-avatar__input" id="file-avatar" type="file" accept=".jpeg, .png, .gif, .jpg">
								<label for="file-avatar" class="upload-avatar__label">
									<span class="upload-avatar__label-icon-wrapper">
										<img class="input__file-icon" src="../../public/img/icons/upload-icon.svg"
											 alt="Set profile photo" width="20" height="20">
									</span>
									<span class="upload-avatar__label-button-text">Set profile photo</span>
								</label>

								<input type="submit" class="upload-avatar__submit visually-hidden d-block mt-2" value="Upload">
							</form>

							<h4 class="card-title user-info__title mt-2">{{ firstName }} {{ lastName }}</h4>
							<h6 class="card-subtitle mb-2 text-muted user-info__subtitle">@{{ username }}</h6>
							<p class="card-text user-info__text">
								Edit your profile to add bio
							</p>
						</div>
					</div>
				</section>
				<section class="main-column col-lg-6 p-md-0">
					<section class="tweets-tab active-tab">
						{{ include('blocks/create-post-form.twig') }}

						{% if not posts %}
							<p class="no-tweets">No posts from you yet.</p>
						{% endif %}

						{% if posts %}
							{% for post in posts %}
								{{ include('blocks/tweet.twig', {
									firstName: post.firstname,
									lastName: post.lastname,
									username: post.username,
									profileimg: profileimg,
									text: post.body,
									time: post.created_at,
									post_img: post.post_img
								}) }}
							{% endfor %}
						{% endif %}

					</section>

					<section class="following-tab">
						<p class="no-following">You have not followed anybody yet.</p>

						<div class="following-tab-wrapper d-flex flex-wrap justify-content-between">
							{{ include('blocks/following-card.twig') }}

							{{ include('blocks/following-card.twig') }}
						</div>
					</section>

					<section class="followers-tab">
						<p class="no-followers">No followers yet.</p>

						<div class="following-tab-wrapper d-flex flex-wrap justify-content-between">
							{{ include('blocks/following-card.twig') }}

							{{ include('blocks/following-card.twig') }}
						</div>
					</section>
				</section>
				<section class="col-md-3 right-sidebar">
					{{ include('blocks/right-sidebar.twig') }}

					{{ include('blocks/copyright.twig') }}
				</section>
			</div>
		</div>
	</main>
{% endblock %}
{% block scripts %}
	<script src="../../../public/js/index.js"></script>
	<script src="../../../public/js/pages/profile-page.js"></script>
	<script src="../../../public/js/pages/creat-post.js"></script>
{% endblock %}