{% extends "base.twig" %}

{% block title %}Registration{% endblock %}

{% block content %}
	<header class="heder-regist">
		{{ include('./blocks/login-nav.twig') }}
	</header>
	<main class="main">
		<div class="container col-xl-8 col-lg-8 col-md-10 col-sm-12">
			<form action="registration" method="post" class="registration-form col-lg-8  col-sm-8 col-12 mt-4">
				<div class="form-container pb-0">

					{% if warning is defined %}
						{{ include('./blocks/warning.twig') }}
					{% endif %}

					<div class="row">
						<h1 class="create col-md-12 co12 p-0 signup-title">Create an account</h1>
					</div>

					<div class="row name-wrapper">
						<div class="col-xl-5 col-lg-5 col-md-5 col-12 p-0">
							<input type="text" name="firstName" class="signup-input signup-firstname col-12" placeholder="FirstName"
								   required>
							<span class="valid-firstname">This is invalid</span>
						</div>

						<div class="col-xl-5 col-lg-5 col-md-5 col-12 p-0">
							<input type="text" name="lastName" class="signup-input signup-lastname col-12" placeholder="LastName"
								   required>
							<span class="valid-lastname">This is invalid</span>
						</div>
					</div>

					<div class="row">
						<input type="text" name="email" placeholder="Email"
							   class="col-md-12 col-12 signup-input signup-email" required>
						<span class="valid-email">This is invalid</span>
					</div>

					<div class="row">
						<input type="text" name="username" placeholder="Username"
							   class="col-md-12 col-12 signup-input signup-username"
							   required>
						<span class="valid-username">This is invalid, use the helper below</span>
						<span class="signup-helper">Username must be at least three(3) characters long</span>
					</div>

					<div class="row">
						<input type="text" name="dateOfBirth" class="datepicker-here col-md-12 col-12 signup-input"
							   placeholder="Date of birth (dd.mm.yyyy)" readonly required>
						<span class="valid-dateofbirth">This is invalid, date format should be dd.mm.yyyy</span>
					</div>

					<div class="row">
						<input type="password" name="password" placeholder="Password"
							   class="col-md-12 col-12 signup-input signup-password" required>
						<span class="valid-password">This is invalid, use the helper below</span>
						<span class="signup-helper">Password must be at least eight(8) character long and must
							contain uppercase and number</span>
					</div>

					<div class="row">
						<input type="password" name="confirmPassword" placeholder="Confirm Password"
							   class="col-md-12 col-12 signup-input signup-password-confirm" required>
						<span class="valid-confirm-password">Password mismatch</span>
					</div>

					<div class="row">
						<input class="submit-signup ml-auto" type="submit" value="SUBMIT">
					</div>
				</div>
			</form>

			<div class="already-login col-lg-8 col-sm-8 col-12">
				<span class="mr-2">Already using twitter?</span>
				<a href="login">LOGIN</a>
			</div>
		</div>
	</main>
{% endblock %}
{% block scripts %}
	<script src="../../../public/js/pages/signup-page.js"></script>
	<script src="../../../public/js/vendors/datepicker.min.js"></script>
	<script>
		$('.datepicker-here').datepicker({
			language: {
				days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
				daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
				daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
				months: ['January','February','March','April','May','June', 'July','August','September','October','November','December'],
				monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
				today: 'Today',
				clear: 'Clear',
				dateFormat: 'mm.dd.yyyy',
				timeFormat: 'hh:ii aa',
				firstDay: 1
			},
			autoClose: true,
			minDate: new Date('1920-01-01'),
			maxDate: new Date('2004-03-31'),
		})
	</script>
{% endblock %}

