{% extends "base.twig" %}

{% block title %}Search{% endblock %}

{% block content %}
	<header class="container-fluid p-0 header header-home">
		{{ include('./blocks/main-nav.twig') }}
	</header>

	<main>
		<div class="container">
			<div class="row pt-lg-0 pt-md-3">
				<section class="sidebar col-lg-3 p-md-0">
					{{ include('./blocks/user-card.twig') }}
				</section>

				<section class="main-column col-lg-6 p-md-0 search-result">

				</section>
			</div>
		</div>
	</main>
{% endblock %}

{% block scripts %}
	<script src="../../../public/js/index.js"></script>
{% endblock %}
