@import "vars";
@import "mixins";

html {
  font-size: 14px;
}

body{
  background-color: $main-bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 0.1px;
  height: 0.1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  z-index: -10;
  opacity: 0;
}

@import "./components/start-pages/index";
@import "./components/start-pages/login-page";
@import "./components/start-pages/signup-page";
@import "./components/header";
@import "src/scss/components/left-sidebar";
@import "./components/main-column";
@import "./components/tabs";
@import "src/scss/components/right-sidebar";
@import "src/scss/components/search";
@import "src/scss/components/edit-profile";
@import "src/scss/components/chat";

