@mixin btn-style {
  position: relative;
  display: inline-block;

  width: 277px;
  height: 50px;
  margin-top: 10px;

  font-size: 17px;
  font-weight: bold;
  text-decoration: none !important;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.045em;

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  svg rect {
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
  }

  span {
    background: rgb(255,130,130);
    background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
    background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
